<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'load_sugges.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">



  </head>
  <body>
    <header>
      <div class="wrap">
        <form method="POST", action="/search">
        <div class="search">
           <input type="text" id="skin_search" class="searchTerm" placeholder="Search" spellcheck="false">
           
           <button type="submit" class="searchButton">
             <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
      <div class ="search_dropdown">
        <div class = "dropdown_list">
           
    
        </div>
    
      </div>
     </div>


  
  </header> 
 
  
 
  </body>
</html>




<!-- <form method="POST" action="/search">
  <div class="form-group">
    <label for="exampleInputEmail1">Skin Name</label>
    <input type="text" class="form-control" id="skin_search" name="skin_name" placeholder="Enter skin name">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
</form> -->
